*{
  background:            #2c2c2c;
  background-selection:  #e0e0e0;
  bordercolor:           #e0e0e020;
  foreground:            #e0e0e0;
  foreground-selection:  #2c2c2c;
  transparent:           #00000000;
}
