/* LIGHT THEME */

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

#taskbar {
  border-radius: 8px; 
  border: none;
}

#taskbar button {
    padding: 0 3px 0 3px;
    margin: 0 3px 0 3px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 8px transparent;
  border-radius: 8px;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  color: #c7c7c7;
  padding: 0 5px;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 5px;
}

#workspaces button.focused {
  color: #191e2a;
  background-color: #bf616a;
}

#workspaces button.active {
  border-radius: 5px;
  color: #65CCA9;
 /* background-color: #7fffd4;*/
}

#workspaces button.urgent {
  background-color: #eb4d4b;
  border-radius: 5px;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#language,
#custom-media,
#mode,
#mpd,
#bluetooth,
#custom-launcher,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-keymap,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0 10px;
  color: #191e2a;
  border-radius: 8px;
}

#window,
#workspaces {
  margin: 0 4px;
  /*border-radius: 7.8px;*/
}

#cpu {
  background-color: #fad07b;
}

#memory {
  background-color: #a6cc70;
}

#custom-updates{
  padding: 0 10px 0 0;
}

#custom-keymap{
  background-color: #a6cc70;
}

#custom-power-menu {
  color: #191e2a;
  background-color: #ed8274;
  border-radius: 8px;
  padding: 0 14px 0 10px;
}

#custom-launcher {
  color: #191e2a;
  border-radius: 8px;
  background: #ed8274;
  padding: 0 16px 0 10px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

.modules-center{
  background-color: rgba(230,230,241,1);
  border-radius: 8px;
}

.modules-right{
  border-radius: 8px;
  background-color: transparent;
}

.modules-left{
  border-radius: 8px;
  background-color: transparent;
}

.modules-center > widget:first-child > #workspaces {
  margin-left: 0;
  margin-right: 0;
}

.modules-center > widget:last-child > #workspaces {
  margin-left: 0;
  margin-right: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  border-radius: 9.5px;
  margin-right: 0;
}

#pulseaudio {
  background-color: #fad07b;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}

#clock {
    background-color: #cfbafa;
}

#battery {
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: #b48ead;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray{
  padding: 0 5px;
  border: none;
  background-color: transparent;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  margin: 0;
  padding: 0 15px 0 0;
  color: #2d3436;
}

#idle_inhibitor.activated {
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

#language {
  color: #e5e5e5;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  /* background-color: #1db954; */
  color: #abb2bf;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
