window {
    font-family: JetBrains Mono Regular;
    font-size: 12pt;
    color: #cdd6f4; 
    background-color: rgba(30, 30, 46, 0.5);
    background-size: 100px
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border: none;
    color: rgba(255,255,255, 0.7);
    text-shadow: none;
    background-color: rgba(32,32,42, 0.5);
    margin: 0;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #cdd6f4;
}

button:focus {
    background-color: #cdd6f4;
    color: rgba(32,32,42,1);
    text-shadow: none;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
}
#lock:hover {
    color: rgba(32,32,42,1);
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#logout:hover {
    color: rgba(32,32,42,1);
    background-image: image(url("./logout-hover.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}
#suspend:focus {
    background-image: image(url("./sleep-hover.png"));
}
#suspend:hover{
    color: rgba(32,32,42,1);
    background-image: image(url("./sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}
#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}
#shutdown:hover {
    color: rgba(32,32,42,1);
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}
#reboot:hover {
    color: rgba(32,32,42,1);
    background-image: image(url("./restart-hover.png"));
}
